<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<a href="/logout/">注销</a>
<table border="3px">
    <thead>
    <tr>
        <td>操作名称</td>
    </tr>
    </thead>


    <tbody>
    <tr>
        <td>
            <a href="/book_list/">书籍详情</a>
            <a href="/author_list/">作者详情</a>
            <a href="/publish_list/">出版社详情</a>

        </td>
    </tr>
    </tbody>

</table>
</body>
</html>